* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.header-banner {
    padding-top: 35px;
    padding-bottom: 100px;
    color: #ffffff;
    font-family: Helvetica, serif;
    font-weight: 100;
    background-image: url("../backgroud.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.logo {
    background-color: #fff;
    border-radius: 5px;
    width: 130px;
    padding: 10px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    color: #4d114f;
    font-size: 23px;
}

.menu {
    float: right;
    width: 40%;
    position: relative; /* Added to position dropdown absolutely within the nav */
}
.menu-item a {
    color: inherit;  /* Takes color from .menu-item class */
    text-decoration: none;  /* Removes underline from links */
}
.menu-item {
    float: right;
    font-size: 15px;
    color: #eee;
    width: 50%;
    padding: 10px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    position: relative; /* Necessary for proper dropdown positioning */
    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);  /* Dark background for dropdown items */
    box-shadow: 0px 8px 16px 0px rgba(206, 100, 100, 0.2);
    z-index: 1;
    right: 10; /* Align dropdown to the right edge of the menu item */
    width: 200px; /* Match width of menu items */
    text-align: center;
}

.dropdown-content li {
    margin-top: 15px;
    padding: 10px;
    min-height: 30px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 30px;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.dropdown-content li a {
    color: white; /* Ensures text is white */
    text-decoration: none; /* No underline */
}

.dropdown-content li:hover {
    background-color: 	#00bfff; /* Darker background on hover */
}

.menu-item:hover .dropdown-content {
    display: block; /* Show dropdown when hovering over the menu item */
}

.lead-title {
    margin: 150px 0 30px 0;
    font-size: 40px;
}

.sub-lead-title {
    max-width: 650px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #c6c6c6;
}

.lead-btn {
    margin-top: 15px;
    padding: 10px;
    width: 190px;
    min-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 30px;
    background-color: #d983a6;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.lead-btn:hover {
    background-color: #ffffff;
    color: #4c114e;
}

.lead-btn:active {
    background-color: #4d114f;
    color: #fff;
}

.container {
    width: 100%;
    height: 500px;
 }

.flex-sect {
    background-color: #fafafa;
    padding: 100px 0;
    font-family: Helvetica, serif;
}

.flex-title {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #555;
    padding: 5px;
}

.flex-desc {
    margin-bottom: 55px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.cards {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    background-color: white;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 100;
    overflow: hidden;
}

.card:hover {
    margin-top: -5px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 15px 15px 5px 15px;
    color: #555;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif; /* Improved font design */
}

.card-sub-title {
    color: #b3b3b3;
    font-size: 1em;
    margin-bottom: 15px;
}


.card-desc {
    opacity: 0; /* Initially hidden */
    font-size: 0.85rem;
    line-height: 17px;
    max-height: 0; /* Collapse the element */
    overflow: hidden;
    transition: opacity 1.5s ease, max-height 1.5s ease; /* Fade and expand transition */
    font-family: 'Arial', sans-serif; /* Improved font design */
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #333;
  }
  .card-desc.visible {
    opacity: 1; /* Fully visible */
    max-height: 1000px; /* Expand to a height greater than the content's height */
  }

.am-sect {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Helvetica, serif;
}
.am-image {
    width: auto;
    max-width: 500px;
    height: auto; 
    margin-right: 20px;
}
.am-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.am-content {
    float: left;
    padding: 7px;
    width: 490px;
    color: #444;
    font-weight: 100;
    margin-top: 50px;
}

.am-pre {
    padding: 7px;
    color: #b1b1b1;
    font-size: 15px;
}

.am-title {
    padding: 7px;
    font-size: 25px;
    font-weight: 400;
}

.am-desc {
    padding: 7px;
    font-size: 17px;
    line-height: 25px;
}

.am-post {
    padding: 7px;
    line-height: 25px;
    font-size: 13px;
}

.footer-under {
    background-color: #312833;
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 500px;
    color: #eee;
    position: relative;
    font-weight: 100;
    font-family: Helvetica, serif;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(238, 238, 238, 0.5);
    bottom: 0;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    font-size: 0.75em;
}

.made-with {
    float: left;
    width: 50%;
    padding: 5px 0;
}

.foot-social-btns {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.foot-list {
    float: left;
    width: 200px;
}

.foot-list-title {
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0.5em 0;
}

.foot-list-item {
    color: rgba(238, 238, 238, 0.8);
    font-size: 0.8em;
    padding: 0.5em 0;
}

.foot-list-item:hover {
    color: rgba(238, 238, 238, 1);
}

.foot-list-item a {
    color: white; /* Sets the text color to white */
    text-decoration: none; /* Optionally removes the underline from links */
    font-size: 15px;
}

#irkq {
    float: none;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(unset 0%, unset 100%);
    border: 0 solid #000000;
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
}

#igesr {
    float: none;
}

#i3vhv {
    width: 1000px;
    height: 200px;
}

#ila3y {
    width: 1000px;
    height: 200px;
}

#i9gvxg {
    width: 1000px;
    height: 200px;
}

#ihe7ni {
    width: 1000px;
    height: 200px;
}

#iqgbrg {
    width: 1000px;
    height: 200px;
}

#iiiil {
    width: 1000px;
    height: 200px;
}

#iqotg{
    text-align: center;
}

#isci73{
    text-align: center;
}

#iscksh{
    text-align: center;
}

#iyddsj{
    text-align: center;
}

#i6m5w{
    text-align: center;
}

#i77mi{
    text-align: center;
}

@media (max-width: 480px) {
    .foot-lists {
        display: none;
    }
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 20px;
    padding: 20px;
    text-align: center;
    
}

.news-column {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd; /* Adds a subtle border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 20px;
}

.news-item img {
    width: 100%;
    height: auto;
}

h2 {
    color: #333;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .news-container {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
}
